{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
        
        <body>
                <form action="/" method="post">
                    <select  onchange ="if (this.value)window.location.href=this.value">
                        
                        <option value="/seqbox">Seqbox<option>
                        <option value="/sample">Sample<option>
                        <option value="/batch">Batch<option>
                        <option value="/location">Location<option>
                        <option value="/result1">Result1<option>
                        <option value="/result2">Result2<option>
                        <option value="/study">Study<option>
                        <option value="/sample_study">Sample_study<option>
                    </select>
                    <input type="submit" value="Add">
                </form>

                <form action="/" method="post">
                    <select  onchange ="if (this.value)window.location.href=this.value">
                        <option value="/seqbox">Seqbox<option>
                        <option value="/sample_delete">Sample_delete<option>
                        <option value="/">Sample_edit<option>
                        <option value="/add_sample">Add_sample<option>
                        <option value="/list_sample">List_sample<option>
                          
                        
                    </select>
                    <input type="submit" value="Query">
                </form>
    </div>
    {% endfor %}
    
{% endblock %}