<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <h1>Location</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.id_location.label }}<br>
            {{ form.id_location(size=64) }}<br>
            {% for error in form.id_location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.continent.label }}<br>
            {{ form.continent(size=64) }}<br>
            {% for error in form.continent.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.country.label }}<br>
            {{ form.country(size=64) }}<br>
            {% for error in form.country.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.province.label }}<br>
            {{ form.province(size=64) }}<br>
            {% for error in form.province.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=64) }}<br>
            {% for error in form.city.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}