<!DOCTYPE html>
<html lang = "en">
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
    
    <h1>{{ ('list sample') }}</h1>
        
    <td>
        <form method="GET" action="./list_sample" style="display: inline">
    
        <select name= "sample" method="GET" action="/">
        {% for sample in samples %}
        
            <option value="{{id_sample}}"SELECTED>{{sample.id_sample}}</option>  
            <option value="{{num_seq}}"SELECTED>{{sample.num_seq}}</option>
            <option value="{{date_time}}"SELECTED>{{sample.date_time}}</option>
            <option value="{{batch}}"SELECTED>{{sample.batch}}</option>
            <option value="{{organism}}"SELECTED>{{sample.organism}}</option>
            <option value="{{location}}"SELECTED>{{sample.location}}</option>
            <option value="{{path_r1}}"SELECTED>{{sample.path_r1}}</option>
            <option value="{{path_r2}}"SELECTED>{{sample.path_r2}}</option>
            <option value="{{result1}}"SELECTED>{{sample.result1}}</option>
            <option value="{{result2}}"SELECTED>{{sample.result2}}</option>
        {% endfor %}
        <form method="POST" action="./sample_delete" style="display: inline">
            <input type="textarea" value="malaria01" name="sample">
            <input type="submit" value="Delete">
        </form>
        

    </td>
{% endblock %}        
</html> 