<!DOCTYPE html>
<html lang = "en">
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<body>  
<form method="POST" action="{{ url_for('index') }}" style="display: inline">

    <input type="text" value="{{sample.id_sample}}" name="id_sample"><br>
    <input type="text" value="{{sample.num_seq}}" name="num_seq"><br>
    <input type="text" value="{{sample.date_time}}" name="date_time"><br>
    <input type="submit" value="Update">
    
    
</form>     
</body>
{% endblock %}   
</html>
        
        