<!DOCTYPE html>
<html lang = "en">
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<h1>{{ ('list_sample') }}</h1>
    <table>
        <form method="post" action=".\list_sample" style="display: inline">
                {{ form.hidden_tag() }}
                {% macro render_field(field) %}
                <dt>{{ field.label }}
                <dd>{{ field(**kwargs)|safe }}
                {% if field.errors %}
                    <ul class=errors>
                {% for error in field.errors %}
                     <li>{{ error }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                </dd>
            &²    {% endmacro %}
                
            </form>
            <th>id_sample</th><th>{{form.id_sample}}</th>
            <th>num_seq</th><th>sample.num_seq</th>
            <th>date_time</th><th>form.date_time.data</th>
            <th>organism</th><th>form.organism.data</th>
         
                      <tr>
                         <td>{{ form.id_sample }}</td>
                         <td>{{ form.num_seq }}</td>
                         <td>{{ form.date_time }}</td>
                         <td>{{ form.organism }}</td>
                      </tr>
    </table>
{% endblock %}

</html>